* {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
header {
    background-image: url(nature/Beautiful-photos-with-sunsets-and-sunrises-01.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 400;
    padding: 10px;
    border: 2px solid rgb(38, 22, 2);
    color: rgb(33, 19, 2);
}
span {
    color: rgb(239, 204, 6);
    font-weight: 800;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container img {
    width: 31%;
    height: 400px;
    padding-top: 40px;
    
}
.story {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
}
article h2 {
    margin-top: 40px;
    text-shadow: none;
    text-align: center;
    border: none;
    font-size: 40px;
    font-weight: 700;
}
.about {
    width: 42%;
    min-height: 200px;
    font-size: 30px;
    text-align: justify;
    padding: 0px 30px;
    text-indent: 40px;
    margin-top: 20px;
}
.pict {
    width: 40%;
    height: auto;
    padding-top: 20px;
}
#about1 {
    padding-left: 0;
}
#about2 {
    padding-right: 0;
}
.container2 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    /* z-index: 1; */
    
}
.container2 img {
    width: 25%;
    height: 280px;
    filter: brightness(0.3);
}
/* .container2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);

} */
.nature {
    width: 100%;
    font-size: 60px;
    position: absolute;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: gold;
    letter-spacing: 20px;
}
footer {
    width: 100%;
    background-color: rgb(74, 65, 65);
}
.foot {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.foot a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
}
